# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Don't sync .htaccess, as it contains a hard redirect to awene.com
.htaccess

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore github.php
github.php
